.user-png{
    width: 30px;
    height: 30px;
}

.navbar-brand{
    color:black;
    font-size: 25px;
    font-weight: bold;
}

.btn-nav{
    background-color:black;
    border-radius: 5px;
    color: white !important;
    font-weight: bold;
    border: none;
    outline: none;
}